.debrief-button {
    position: absolute;
    background: #bebebe;
    margin-left: -5vh;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
}

.debrief-button:hover {
    background-color: #a9a9a9;
    /* color: #bebebe; */
}

#option_uno {
    margin-right: 90%;
    /* position: absolute;
    left: 40vh; */
}

#option_dos {
    position: absolute;
    margin-left: 90%;
    /* right: -20vh; */
}

.slider {
    width: 100%;
}